@import "compass/css3/gradient";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/background-clip";

$t-background: #eeeeee !default;
$t-font-size: 12px !default;
$t-color: #444444 !default;
$t-radius: 5px !default;
$t-icon: 0 !default;
$t-font-eot: '../fonts/iconic_stroke.eot?' !default;
$t-font-woff: '../fonts/iconic_stroke.woff' !default;
$t-font-ttf: '../fonts/iconic_stroke.ttf' !default;
$t-font-svg: '../fonts/iconic_stroke.svg#svgIconicStroke' !default;

@mixin twitter_button($t-background, $t-color, $t-radius, $t-font-size, $t-icon)
{
    @extend .twitter_buttons_reset;
    @extend .font-face;

    @if $t-background == 0
    {
        background: #eeeeee;
        background: -moz-linear-gradient(top, #eeeeee 0%, #dadada 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #d4d4d4));
        background: -o-linear-gradient(top, #eeeeee 0%, #dadada 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#d4d4d4',GradientType=0 );
        border: 1px solid;
        border-color: #c8c8c8 #c8c8c8 #bbbbbb;
        @include box-shadow (lighten(#eee, 20%), 0, 1px, 1px, inset);

    }
    @else {
        background: $t-background;
        background: -moz-linear-gradient(top, $t-background 0%, darken($t-background, 10%) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$t-background), color-stop(100%,darken($t-background, 10%)));
        background: -o-linear-gradient(top, $t-background 0%, darken($t-background, 10%) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$t-background}', endColorstr='#{darken($t-background, 10%)}',GradientType=0 );
        border: 1px solid;
        border-color:darken($t-background, 15%) darken($t-background, 15%) darken($t-background, 20%);
        @include box-shadow(lighten($t-background, 20%), 0,1px,1px,inset);
    }

    @if $t-radius == 0
    {
        @include border-radius(5px);
    }
    @else {
        @include border-radius($t-radius);
    }

    @if $t-color == 0
    {
        color: #444;
    }
    @else {
        color: $t-color;
    }

    @if $t-font-size == 0
    {
        font-size: 12px;
    }
    @else {
        font-size: $t-font-size;
    }

    weight: 700;
    line-height: 1;
    padding: 5px 10px;
    

    @if $t-color == 0
    {

        @if lightness(#444) > lightness(#eee) {
            text-shadow: -1px -1px 0 darken(#eee,10%);
        }
        @else {
            text-shadow: 0 1px 0 lighten(#eee,5%);
        }

    }
    @else {

        @if lightness($t-color) > lightness($t-background) {
            text-shadow: -1px -1px 0 darken($t-background,10%);
        }
        @else {
            text-shadow: 0 1px 0 lighten($t-background,5%);
        }

    }

    &:hover
    {
        @if $t-background == 0
        {
            background: #e4e4e4;

            background: -moz-linear-gradient(top, #e4e4e4 0%, #cfcfcf 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cfcfcf));
            background: -o-linear-gradient(top, #e4e4e4 0%, #cfcfcf 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#cfcfcf',GradientType=0 );
            border: 1px solid;
            border-color: #c3c3c3 #c3c3c3 #b6b6b6;
            @include box-shadow (lighten(#eee, 20%), 0, 1px, 1px, inset);

        }
        @else {
            background: darken($t-background, 4%);
            background: -moz-linear-gradient(top, darken($t-background, 4%) 0%, darken($t-background, 12%) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,darken($t-background, 4%)), color-stop(100%,darken($t-background, 12%)));
            background: -o-linear-gradient(top, darken($t-background, 4%) 0%, darken($t-background, 12%) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{darken($t-background, 4%)}', endColorstr='#{darken($t-background, 12%)}',GradientType=0 );
            border: 1px solid;
            border-color:darken($t-background, 17%) darken($t-background, 17%) darken($t-background, 22%);
            @include box-shadow(lighten($t-background, 7%), 0,1px,1px,inset);
        }

        @if $t-color == 0
        {
            color: #444;
        }
        @else {
            color: $t-color;
        }

    }

    &:active
    {
        @if $t-background == 0
        {
            background: #dfdfdf;
            background: -moz-linear-gradient(top, #dfdfdf 0%, #cacaca 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfdfdf), color-stop(100%, #cfcfcf));
            background: -o-linear-gradient(top, #dfdfdf 0%, #cacaca 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#cfcfcf',GradientType=0 );
            border: 1px solid;
            border-color: #bebebe #bebebe #a4a4a4;
            @include box-shadow (lighten(#eee, 20%), 0, 1px, 1px, inset);

        }
        @else {
            background: darken($t-background, 6%);
            background: -moz-linear-gradient(top, darken($t-background, 6%) 0%, darken($t-background, 14%) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,darken($t-background, 6%)), color-stop(100%,darken($t-background, 14%)));
            background: -o-linear-gradient(top, darken($t-background, 6%) 0%, darken($t-background, 14%) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{darken($t-background, 6%)}', endColorstr='#{darken($t-background, 14%)}',GradientType=0 );
            border: 1px solid;
            border-color:darken($t-background, 19%) darken($t-background, 19%) darken($t-background, 29%);
            @include box-shadow(darken($t-background, 15%), 0, 0, 5px, 2px,inset);
        }

    }
    &:before
    {

        @if $t-icon == 0
        {content: "";

            
        }
        @else
        {

            font-family: "IconicStroke";
            content: "#{$t-icon}";
            text-transform: lowercase;
            position:relative;
            top:2px;
            font-size: ($t-font-size)*1.5;
            line-height:1.2;
            font-weight:normal;
            padding: 0px 2px 0px 0px;
            @if $t-color == 0
            {
                color: #444;
            }
            @else {
                color: $t-color;
            }
        }


    }

}


@mixin t-reset()
{
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    margin: 0;
    width: auto;
    overflow: visible;
    display: inline; 
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    font-weight: 700;
    &::-moz-focus-inner
    {
        border: none;
        padding: 0;
    }
    &:focus
    {
        outline: none;
    }
}


.twitter_buttons_reset
{
    @include t-reset;
}

@mixin t-fonts()
{
@font-face {
			font-family:'IconicStroke';
			src: url('#{$t-font-eot}'),
            url('#{$t-font-woff}') format('woff'),
            url('#{$t-font-ttf}')  format('truetype'),
            url('#{$t-font-svg}') format('svg');
}

}

@include t-fonts



